{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a= href='http://127.0.0.1:8000/admin/login/?next=/admin/'>Logout</a>
{% else %} 
<a = href = 'http://127.0.0.1:8000/admin/login/?next=/admin/'>Login</a>
{% endif %}


<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <form method="post">
            {{ choice_form.as_p}}
            <button type = "submint">Add choice</button>
        </form>
    </fieldset>
    
    <input type="submit" value="Vote">
    </form>